@keyframes bg-clip {
  0% {
    clip-path: var(--clip-base);
  }

  50% {
    clip-path: polygon(35% 0, 65% 0, 65% 100%, 35% 100%);
  }


  100% {
    clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
  }
}

@-webkit-keyframes bg-clip {
  0% {
    clip-path: var(--clip-base);
  }

  50% {
    clip-path: polygon(35% 0, 65% 0, 65% 100%, 35% 100%);
  }


  100% {
    clip-path: polygon(0 0, 34% 0, 34% 100%, 0% 100%);
  }
}

section {
  width: 90vw;
  margin: 4rem 0;
}

ul {
  list-style: circle;
}

li {
  padding-bottom: 0.5rem;
}

h4>i {
  margin-right: 1rem;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 8rem;
}

.skill-container {
  z-index: 1;
  display: grid;
  row-gap: .5rem;
  padding: 1rem 0;

  width: 50%;

  border-radius: 5px;
  background-color: var(--primary-color-2);
  border: 5px solid white;
  color: white;
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.2);
}

.skill-container .skill-row {
  display: grid;
  justify-items: center;

  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 0 4vw;
}

.skill-container .skill-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-container .skill-column .skill {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  font-family: var(--font-strong);
  font-size: 1rem;
}

.skill-container .skill-column .level {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.skill-container .skill-column .level>i {
  color: white;
  font-size: 1rem;
  margin: 0 .2rem;
}

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  width: 80%;
}

.container {
  text-align: justify;

  padding: 1.7rem;
  margin: 1.5rem;

  background-color: var(--primary-color-2);
  border: 5px solid white;
  border-radius: 5px;

  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.container h4 {
  font-family: var(--font-strong);
  font-size: 1.5rem;
}

.container h5 {
  font-size: 1.2rem;
}

.container li {
  font-size: 1.1rem;
}

.container hr {
  border: none;
  overflow: visible;

  border-top: 2px dotted white;
}

.container.left {
  transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  /* IE 9 */
  -webkit-transform: rotate(2deg);
  /* Safari */

  margin-right: 2rem;
}

.container.right {
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  /* IE 9 */
  -webkit-transform: rotate(-2deg);
  /* Safari */
  margin-left: 2rem;
}

.left {
  order: 1;
}

.right {
  order: 2;
}

.date {
  display: flex;
  align-items: center;
  font-family: var(--font-strong);
  font-size: 1.3rem;
  text-transform: uppercase;
  text-shadow: 1px 2px white;
}

.date.left {
  border-right: 2px solid var(--primary-color-1);
  justify-content: flex-end;
  margin-right: -0.1vw;
}

.date.right {
  border-left: 2px solid var(--primary-color-1);
  justify-content: flex-start;
}

.date.left>i {
  margin-left: 1rem;
  margin-right: -11px;
  color: var(--primary-color-1);
}

.date.right>i {
  margin-left: -11px;
  margin-right: 1rem;
  color: var(--primary-color-1);
}


@media screen and (max-width: 1300px) {
  .skill-container {
    padding: 0.5rem 0;
  }

  .skill-row {
    padding: 0 1rem;
  }

  .level {
    margin: 0.8rem;
  }

  .row:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
  }

  .row:nth-child(odd) {
    display: flex;
    flex-direction: column;
  }

  .date.left,
  .date.right {
    border: none;
    justify-content: center;
    margin-top: 2rem;
  }

  .date>i {
    display: none;
  }
}


@media screen and (max-width: 850px) {
  .title>hr {
    width: 60%;
  }

  #skills {
    margin-top: 5rem;
  }

  .skill-container {
    padding: 1rem;
    width: 80%;
  }

  .row {
    width: 85%;
  }

  .container.left,
  .container.right {
    margin: 0;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari */
  }

  .date.left,
  .date.right {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 740px) {
  .title {
    font-size: 2rem;
  }

  .title>hr {
    width: 70%;
  }

  .skill-column {
    margin: 0 0.5rem;
    padding: 0;
  }

  .skill-row {
    padding: 0 0.2rem;
  }

  .skill-container {
    padding: 1rem;
    width: 90%;
  }

  .row {
    width: 95%;
  }

  .skill,
  .level>i {
    font-size: 0.9rem;
  }

  .container.left,
  .container.right {
    margin: 0;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari */
  }

  .date.left,
  .date.right {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 1.5rem;
  }

  .title>hr {
    width: 95%;
  }
  
  .skill-container {
    width: 70%;
  }

  .skill-container .skill-row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .skill-container .skill-column {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .container.left>ul,
  .container.right>ul {
    padding: 1rem;
  }

  .date.left,
  .date.right {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 400px) {
    .container.left,
    .container.right {
      transform: scale(0.9);
      width: 95%;
      padding: .7rem;
      margin: 0;
    }
  }
}