/* A. #0F2D69 */
/* B. #4071C7 */
/* C. #5787CF */
/* D. #7BAAE8 */
/* E. #8CB2DE */
/* F. #F9F7F7 */
html {
  width: auto;
  height: auto;
}

body {
  font-family: 'Prompt', sans-serif;
  font-size: 1.5rem;
}

section {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  border-bottom: 1px dotted;
  border-color: #A9B0CC;
}

span {
  text-align: center;
  margin: 0rem 0.5rem;
}

p {
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

#profile-sec {
  background-color: #DBE2EF;
  padding-top: 0;
  padding-bottom: 0;
}

#skills-sec {
  background-color: #F9F7F7;
}

#myexperience-sec {
  background-color: #8CB2DE;
  color: #FFF;
  text-align: center;
}

#hobbies-sec {
  background-color: #F9F7F7;
  color: #000;
  text-align: center;
}

#aphorism-sec {
  background-color: #4071C7;
}

#footer {
  background-color: #0F2D69;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #A9B0CC;
  font-size: 0.8rem;
}

.go_up {
  position: fixed;
  bottom: 2rem;
  right: 0.5rem;
  z-index: -2;
}

.go_up-ico {
  color: #0F2D69;
  font-size: 1.8rem;
}

/* TITLES */
.title {
  padding-bottom: 1%;
}

.title-big {
  font-size: 2.7rem;
}

.ico {
  margin-right: 1rem;
}

.icon-big {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.mar-bottom {
  margin-bottom: 2rem;
}

.title-fluid {
  font-size: 2.3rem;
  text-align: center;
}

.title-sep {
  border-top: 0.1rem dashed;
  width: 35rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.col-dblue {
  color: #0F2D69;
}

.bg-dblue {
  font-family: 'Cairo', sans-serif;
  background-color: #0F2D69;
}

.bg-lblue {
  font-family: 'Cairo', sans-serif;
  background-color: #4071C7;
}

.bg-vlblue {
  font-family: 'Cairo', sans-serif;
  background-color: #8CB2DE;
}

/* NAVBAR */
.navbar-sm {
  visibility: hidden;
  height: 0;
}

.nav-b-big {
  width: auto;
}

.nav-b-small {
  visibility: hidden;
  font-size: 0;
  width: 0;
}

.navbar-brand {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 900;
  padding-left: 1px;
}

.nav-link {
  color: #FFF;
  text-align: left;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.nav-icon {
  color: #FFF;
  margin: 1rem;
}

.little-nav-ico {
  right: 0.7rem;
}

/* FOTO E PROFILO */
.foto-profilo-big {
  bottom: 0;
}

.foto-profilo-small {
  visibility: hidden;
  text-align: center;
  height: 0;
}

.img-foto-big {
  width: 30rem;
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.img-foto-small {
  width: 10rem;
  border-radius: 100%;
}

.hi {
  font-size: 3.5rem;
  font-family: 'Caveat', cursive;
}

.short-desc {
  font-size: 1.5rem;
  margin: 1rem auto;
  text-align: left;
}

.long-desc {
  padding: 2rem 0;
}

.skill-name {
  font-family: 'Cairo', sans-serif;
  text-align: left;
}

.exp {
  font-size: 1.1rem;
}

.c-al {
  text-align: center;
}

.r-al {
  text-align: right;
  margin-right: 0;
  padding-right: 0;
}

/* HOBBIES */
.hob-img {
  width: 80%;
  height: auto;
  padding: 1rem 0;
  border-radius: 15%;
}

.accordion-button {
  border: 3px solid;
  border-color: #8CB2DE;
  font-size: 1.8rem;
}

.accordion-item {
  width: 80%;
}

.aphorism {
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  color: #FFF;
}

@media only screen and (max-width: 1439px) {
  html, body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    font-size: 1.3rem;
  }

  .navbar-brand {
    font-size: 1.1rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .hi {
    font-size: 2.4rem
  }

  .short-desc {
    font-size: 1.3rem
  }

  .hob-img {
    width: 10rem;
  }

  .accordion-item {
    width: auto;
  }

  .accordion-item {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media only screen and (max-width: 1200px) {
    html, body {
      width: 100%;
      height: auto;
      overflow-x: hidden;
      font-size: 1.3rem;
    }

    section {
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px dotted;
      border-color: #A9B0CC;
    }

    .go_up {
      z-index: 1;
    }

    .title-big {
      font-size: 2rem;
    }

    .icon-big {
      font-size: 2em;
      margin-bottom: 1rem;
    }

    .title-fluid {
      font-size: 1.9rem;
      text-align: center;
    }

    .foto-profilo-big {
      visibility: hidden;
      height: 0;
    }

    .foto-profilo-small {
      visibility: visible;
      position: relative;
      text-align: center;
      height: auto;
      padding-bottom: 1rem;
    }

    .aphorism {
      font-size: 1.7rem;
    }
  }

  @media only screen and (max-width: 700px) {
    html, body {
      width: 100%;
      height: auto;
      overflow-x: hidden;
      font-size: 1.1rem;
    }

    section {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px dotted;
      border-color: #A9B0CC;
    }

    .go_up-ico {
      font-size: 2rem;
    }

    .hi {
      font-size: 2.4rem
    }

    .title-big {
      font-size: 1.7rem;
    }

    .short-desc {
      font-size: 1.1rem
    }

    .title-fluid {
      font-size: 1.6rem;
    }

    .nav-b-small {
      visibility: visible;
      font-size: 1.4rem;
      width: auto;
    }

    .nav-b-big {
      visibility: hidden;
      font-size: 0;
      width: 0;
    }

    .navbar-lg {
      visibility: hidden;
      height: 0;
    }

    .navbar-sm {
      visibility: visible;
      height: auto;
    }

    .skill-name {
      font-size: 1rem;
    }

    .exp {
      font-size: 1rem;
    }

    .accordion-button {
      font-size: 1.1rem;
    }

    .hob-img {
      width: 8rem;
    }

    .aphorism {
      font-size: 1.5rem;
    }
  }
