:root {
  font-size: 16px;
  box-sizing: border-box;
  font-family: var(--font-general);

  --primary-color-1: rgba(46, 59, 122, 1);
  --primary-color-2: rgba(80, 90, 133, 1);
  --primary-color-3: rgba(113, 127, 190, 0.8);
  --primary-color-4: hsla(228, 20%, 70%, 0.8);

  --secondary-color-1: rgba(46, 59, 122, 0.4);
  --secondary-color-2: rgba(46, 59, 122, 0.8);

  --font-general: "Lato", sans-serif;
  --font-strong: "Lexend", sans-serif;
  --font-cursive: "Caveat", cursive;
  --font-alternative: "Cairo", sans-serif;
}

html {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: white;
  display: block;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 80%);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-1);
  border-radius: 7%;
}

section {
  width: 90vw;
  margin: 4rem 0;
}

header {
  z-index: 3;
  position: fixed;
  background-color: white;

  top: 0;
  width: 100%;
}

ul {
  list-style: circle;
}

li {
  padding-bottom: 0.5rem;
}

h4 > i {
  margin-right: 1rem;
}

.nav-des {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 8rem;
}

.logo {
  width: 50%;
  display: flex;

  align-items: center;
  padding-left: 2rem;
}

.logo > .square {
  float: left;
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--primary-color-1);
  margin-right: 0.5rem;
}

.logo > .name-def {
  float: right;
}

.logo > .name-def > br {
  display: none;
}

.logo > .name-def > .name {
  font-family: var(--font-strong);
  font-size: 2rem;
}

.toggle-button {
  display: none;
  position: absolute;
  top: 1.7rem;
  right: 4rem;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  vertical-align: middle;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button > .bar {
  height: 3px;
  width: 100%;
  background-color: var(--primary-color-1);
  border-radius: 10px;
}

.link {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.link > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.link > ul > li {
  text-align: center;
  padding: 0 1rem;
}

.link > ul > li > a {
  text-decoration: none;
  color: black;
  transition: 0.4s ease;
}

.link > ul > li:first-child > a {
  color: var(--primary-color-1);
  font-weight: 700;
}

.link > ul > li > a:hover {
  color: var(--primary-color-3);
  font-weight: 700;
}

.title {
  z-index: 2;
  font-family: var(--font-strong);
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-top: 1rem;
  justify-content: baseline;
  text-align: center;
  width: 90%;
  text-shadow: 1px 2px white;
}

.title > hr {
  border: none;
  border-top: 3px solid var(--primary-color-3);
  overflow: visible;
  width: 40%;
  margin-bottom: 1rem;
}

.main-back {
  z-index: -1;
  position: fixed;

  display: grid;
  grid-template-columns: 30% 70%;

  min-width: 100vw;
  min-height: 100vh;
}

.main-back-left {
  background-color: var(--primary-color-1);
}

.main-back-right {
  background-color: white;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 8rem;
}

.skill-container {
  z-index: 1;
  box-sizing: content-box;
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  background-color: var(--primary-color-2);
  border: 5px solid white;
  color: white;

  border-radius: 5px;
  padding: 2rem;
  width: 70%;
}

.skill-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 8rem;
}

.skill-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  font-family: var(--font-strong);
  font-size: 1.2rem;
}

.level {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.level > i {
  color: white;
  font-size: 1.2rem;
}

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  width: 80%;
}

.container {
  box-sizing: content-box;
  text-align: justify;

  padding: 1rem;
  margin: 1.5rem;

  background-color: var(--primary-color-2);
  border: 5px solid white;
  border-radius: 5px;

  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.container > h4 {
  font-family: var(--font-strong);
  font-size: 1.3rem;
}

.container > hr {
  border: none;
  overflow: visible;

  border-top: 2px dotted white;
}

.container.left {
  transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  /* IE 9 */
  -webkit-transform: rotate(2deg);
  /* Safari */

  margin-right: 2rem;
}

.container.right {
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  /* IE 9 */
  -webkit-transform: rotate(-2deg);
  /* Safari */
  margin-left: 2rem;
}

.left {
  order: 1;
}

.right {
  order: 2;
}

.date {
  display: flex;
  align-items: center;
  font-family: var(--font-strong);
  font-size: 1.3rem;
  text-transform: uppercase;
  text-shadow: 1px 2px white;
}

.date.left {
  border-right: 2px solid var(--primary-color-1);
  justify-content: flex-end;
  margin-right: -0.1vw;
}

.date.right {
  border-left: 2px solid var(--primary-color-1);
  justify-content: flex-start;
}

.date.left > i {
  margin-left: 1rem;
  margin-right: -11px;
  color: var(--primary-color-1);
}

.date.right > i {
  margin-left: -11px;
  margin-right: 1rem;
  color: var(--primary-color-1);
}

footer {
  z-index: 2;
  background-color: white;
  position: fixed;

  bottom: 0;

  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

footer > .copyright {
  padding-left: 2rem;
}

footer > .socials {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: flex-end;
  align-items: center;

  width: 80%;
}

footer > .socials > ul {
  font-size: 1.2rem;

  margin: auto;
  padding: 0.5rem 2rem;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
}

footer > .socials > ul > li {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 2rem;
}

footer > .socials > ul > li > a {
  text-decoration: none;
}

footer > .socials > ul > li > a > i {
  display: grid;
  color: var(--primary-color-1);
  font-size: 1.6rem;
}

@media screen and (max-width: 1300px) {
  .logo {
    font-size: 0.8rem;
  }

  .logo > .square {
    float: left;
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--primary-color-1);
    margin-right: 0.5rem;
  }

  .logo > .name-def {
    float: right;
  }

  .logo > .name-def > br {
    display: none;
  }

  .logo > .name-def > .name {
    font-family: var(--font-strong);
    font-size: 2rem;
  }

  .logo > .name-def > br {
    display: block;
  }

  .logo > .name-def > .def {
    padding-left: 0.2rem;
  }

  .link {
    font-size: 0.9rem;
  }

  .skill-container {
    padding: 0.5rem 0;
  }

  .skill-row {
    padding: 0 1rem;
  }

  .level {
    margin: 0.8rem;
  }

  .row:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
  }

  .row:nth-child(odd) {
    display: flex;
    flex-direction: column;
  }

  .date.left,
  .date.right {
    border: none;
    justify-content: center;
    margin-top: 2rem;
  }

  .date > i {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .nav-des {
    height: 5rem;
  }

  .logo {
    padding: 1rem 0.5rem;
  }

  .logo > .square {
    height: 1.1rem;
    width: 1.1rem;
  }

  .logo > .name-def > .name {
    font-size: 1.5rem;
  }

  .title > hr {
    width: 60%;
  }

  #skills {
    margin-top: 5rem;
  }

  .skill-container {
    padding: 1rem;
    width: 80%;
  }

  .row {
    width: 85%;
  }

  .container.left,
  .container.right {
    margin: 0;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari */
  }

  .date.left,
  .date.right {
    margin-bottom: 1rem;
  }

  footer > .socials > ul {
    width: 90%;
  }
}

@media screen and (max-width: 740px) {
  .nav-des {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    padding: 1rem 0.5rem;
  }

  .logo > .square {
    height: 1.1rem;
    width: 1.1rem;
  }

  .logo > .name-def > .name {
    font-size: 1.5rem;
  }

  .toggle-button {
    display: flex;
  }

  .link {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    vertical-align: middle;

    width: 100%;
    background-color: white;
  }

  .link > ul {
    display: flex;
    flex-direction: column;
  }

  .link > ul > li {
    margin: 0.5rem;
    padding-right: 1rem;
  }

  .link.active {
    display: flex;
  }

  .title {
    font-size: 2rem;
  }

  .title > hr {
    width: 70%;
  }

  .skill-column {
    margin: 0 0.5rem;
  }

  .skill-row {
    padding: 0 0.2rem;
  }

  .skill-container {
    padding: 1rem;
    width: 90%;
  }

  .row {
    width: 95%;
  }

  .skill,
  .level > i {
    font-size: 0.9rem;
  }

  .container.left,
  .container.right {
    margin: 0;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari */
  }

  .date.left,
  .date.right {
    margin-bottom: 1rem;
  }

  footer > .socials > ul > li {
    margin: 0 1.2rem;
  }

  footer > .socials > ul > li > a > i {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 550px) {
  .logo {
    padding-left: 0.3rem;
    width: 100%;
  }

  .logo > .square {
    height: 0.8rem;
    width: 0.8rem;
  }

  .logo > .name-def > .name {
    font-size: 1.4rem;
  }

  .logo > .name-def > br {
    display: block;
  }

  .logo > .name-def > .def {
    font-size: 1rem;
    padding-left: 0rem;
  }

  .toggle-button {
    right: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .title > hr {
    width: 95%;
  }

  .skill-row {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .skill-container {
    box-sizing: content-box;
    padding: 2rem;
    width: 70%;
  }

  .container.left > ul,
  .container.right > ul {
    padding: 1rem;
  }

  .date.left,
  .date.right {
    margin-bottom: 1rem;
  }

  footer > .copyright {
    padding-left: 0.3rem;
    font-size: 0.8rem;
  }

  footer > .socials > ul > li {
    margin: 0 0.3rem;
  }

  footer > .socials > ul > li > a > i {
    font-size: 1.2rem;
  }
}
