:root {
    font-size: 13px;
    box-sizing: border-box;
    font-family: var(--font-general);

    --primary-color-1: rgba(46, 59, 122, 1);
    --primary-color-2: rgba(80, 90, 133, 1);
    --primary-color-3: rgba(113, 127, 190, 0.8);
    --primary-color-4: hsla(228, 20%, 70%, 0.8);

    --secondary-color-1: rgba(46, 59, 122, 0.4);
    --secondary-color-2: rgba(46, 59, 122, 0.8);

    --font-general: "Lato", sans-serif;
    --font-strong: "Lexend", sans-serif;
    --font-cursive: "Caveat", cursive;
    --font-alternative: "Cairo", sans-serif;

    --navbar-h: 8rem;
    --navbar-h-m: 5rem;

    --clip-base: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    --clip-duration: 2s;
    --logo-clip-duration: 6s;
}

html {
    min-width: 100%;
    min-height: 100%;
}

body {
    min-height: calc(100vh - var(--navbar-h));
    margin: 0;
    margin-top: var(--navbar-h);
}

body>#bg {
    z-index: -1;
    height: 100%;
    width: 100%;
    clip-path: var(--clip-base);
    background-color: var(--primary-color-1);
    position: fixed;

    animation-name: bg-clip;
    animation-fill-mode: forwards;
    animation-duration: var(--clip-duration);
    animation-timing-function: ease-in-out;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 80%);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-1);
    border-radius: 7%;
}

header {
    z-index: 3;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
}

.nav-des {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 8rem;
}

.logo {
    width: 50%;
    display: flex;

    align-items: center;
    padding-left: 2rem;
}

.logo>.logo-img {
    float: left;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.logo>.logo-img>.clip1 {
    height: 97%;
    width: 97%;
    clip-path: circle(40.0% at 50% 50%);
    background-color: var(--primary-color-4);

    animation-name: logo-clip;
    animation-fill-mode: forwards;
    animation-duration: var(--logo-clip-duration);
    animation-timing-function:linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes logo-clip2{
    0% {
        transform: translate(-40%, -100%);
    }
    
    50% {
        transform: translate(0%, -100%);
    }

    100%{
        transform: translate(-40%, -100%);
    }
}

.logo>.logo-img>.clip2 {
    height: 97%;
    width: 97%;
    clip-path: circle(40.0% at 55% 50%);
    background-color: var(--primary-color-1);

    animation-name: logo-clip2;
    animation-fill-mode: forwards;
    animation-duration: var(--logo-clip-duration);
    animation-timing-function:linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    }

@keyframes logo-clip{
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(-40%, 0%);
    }

    100%{
        transform: translate(0%, 0%);
    }
}

.logo>.name-def {
    float: right;
    width: 100%;
}

.logo>.name-def>br {
    display: none;
}

.logo>.name-def>.name {
    font-family: var(--font-strong);
    font-size: 2rem;
}

.toggle-button {
    display: none;
    position: absolute;
    top: 1.7rem;
    right: 4rem;
    flex-direction: column;
    justify-content: flex-end;
    vertical-align: middle;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button>.bar {
    height: 3px;
    width: 100%;
    background-color: var(--primary-color-1);
    border-radius: 10px;
}

.link {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.link>ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.link>ul>li {
    text-align: center;
    padding: 0 1rem;
}

.link>ul>li>a {
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
    font-size: 1.2rem;
}

.link>ul>li:first-child>a {
    color: var(--primary-color-1);
    font-weight: 700;
}

.link>ul>li>a:hover {
    color: var(--primary-color-3);
    font-weight: 700;
}

.title {
    z-index: 2;
    font-family: var(--font-strong);
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 1rem;
    justify-content: baseline;
    text-align: center;
    width: 90%;
    text-shadow: 1px 2px white;
}

.title>hr {
    border: none;
    border-top: 3px solid var(--primary-color-3);
    width: 40%;
    margin-bottom: 1rem;
}

footer {
    z-index: 2;
    width: 100%;
    height: 4rem;

    position: fixed;
    bottom: 0;

    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    
    background-color: white;
}

footer * {
    display: flex;
    width: 100%;
    padding: 0;
    align-items: stretch;
    margin: auto 0;
}

footer>.copyright {
    padding-left: 2rem;
    font-size: 1.1rem;
}

footer>.socials{
    justify-self: flex-end;
    width: 35vw;
    max-width: 400px;
}

footer>.socials ul {
    flex-direction: row;
    list-style: none;
}

footer>.socials li{
    padding: 0;
}

footer>.socials a{
    text-decoration: none;
}

footer>.socials i {
    text-align: center;
    padding: .5rem .5rem;
    color: var(--primary-color-1);
    font-size: 1.6rem;
}

@media screen and (max-width: 1300px) {
    .logo>.logo-img {
        float: left;
        margin-right: 0.5rem;
    }

    .logo>.name-def {
        float: right;
    }

    .logo>.name-def>br {
        display: none;
    }

    .logo>.name-def>.name {
        font-family: var(--font-strong);
        font-size: 2rem;
    }

    .logo>.name-def>br {
        display: block;
    }

    .logo>.name-def>.def {
        padding-left: 0.2rem;
    }

    .slash {
        display: none;
    }

    .link {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 850px) {
    body {
        margin-top: var(--navbar-h-m);
    }

    body>#bg {
        height: 100%;
        clip-path: polygon(0 0, 38% 0, 80% 100%, 0% 100%);
    }

    .nav-des {
        height: 5rem;
    }

    .logo {
        padding: 1rem 2rem;
        width: 40%;
    }

    .logo>.name-def>.name {
        font-size: 1.6rem;
    }

    footer>.socials>ul {
        width: 90%;
    }
}

@media screen and (max-width: 740px) {
    .logo {
        width: 100%;
    }

    .nav-des {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .link {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        vertical-align: middle;

        width: 100%;
        background-color: white;
    }

    .link>ul {
        display: flex;
        flex-direction: column;
    }

    .link>ul>li {
        margin: 0.5rem;
        padding-right: 1rem;
    }

    .link.active {
        display: flex;
    }

    footer>.socials>ul>li>a>i {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        justify-content: flex-start;
    }

    .logo>.name-def>br {
        display: block;
    }

    .logo>.name-def>.def {
        font-size: .9rem;
        padding-left: 0rem;
    }

    .toggle-button {
        right: 1.5rem;
    }

    footer>.socials,
    footer>.socials>ul {
        width: 90%;
    }

    footer>.copyright {
        padding-left: .5rem;
        font-size: 1rem;
    }

    footer>.socials>ul>li {
        margin: 0 0.3rem;
    }

    footer>.socials>ul>li>a>i {
        font-size: 1.2rem;
    }

    @media screen and (max-width: 400px) {
        .logo {           
            padding: 1rem .8rem;

            transform: scale(0.9);
            /* IE 9 */
            -ms-transform: scale(0.9);
            /* Safari */
            -webkit-transform: scale(0.9);
        }

        .logo .logo-img{
            margin-right: 1rem;
        }
    }
}